<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>  <i class="fa-solid fa-user-plus"></i> &nbsp;
                    Add Contact Page
                </h1>
    
                <p style="text-align:justify">
                    This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloribus sint earum a doloremque mollitia voluptate quas repudiandae saepe tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolorem ut ipsam, non sapiente neque veniam velit veritatis architecto itaque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, fugit quidem natus eveniet dolor excepturi temporibus commodi eos facere laudantium aperiam maxime, laboriosam magni odio? Debitis soluta voluptatum animi praesentium provident eveniet magni, minus cupiditate dolorum facere velit, omnis doloribus.
                </p>
        </div>
    </div>

    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input placeholder="name" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                        <input placeholder="photo url" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                        <input placeholder="name" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                        <input placeholder="name" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                        <input placeholder="name" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                        <input placeholder="name" type="
                        " class="form-control">
                       

                    </div>
                    <div class="mb-2">
                    <select name="" id="" class="form-control">
                        <option value="" selected hidden disabled> Select a Group</option>
                        <option value="">Family</option>
                        <option value="">Friends</option>

                    </select>
                    </div>
                    <div class="mb-2">
                        <input  value="create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-avatar-icon-abstract-user-login-icon-png-image_3917181.jpg" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
</div>