<div class="container title mt-3">
    <div class="row">
        <div class="col">
            <h1>Contact Management Application
              
            <a  routerLink="/contacts/add" class="btn btn-success">  <i class="fa-solid fa-user-plus"></i> &nbsp;
                Add New
            </a></h1>

            <p style="text-align:justify">
                This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloribus sint earum a doloremque mollitia voluptate quas repudiandae saepe tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolorem ut ipsam, non sapiente neque veniam velit veritatis architecto itaque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, fugit quidem natus eveniet dolor excepturi temporibus commodi eos facere laudantium aperiam maxime, laboriosam magni odio? Debitis soluta voluptatum animi praesentium provident eveniet magni, minus cupiditate dolorum facere velit, omnis doloribus.
            </p>
            <div class="row">
                    <div class="col-6"><input type="text" class="form-control" placeholder="Search contact here"></div>
                
                    <div class="col-6">
                   
                    </div>
              
            </div>

            <!-- <pre>{{ allContacts | json}}</pre> -->


            <!-- card design -->

            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter: 'le':'name'">
                        <div class="card list-group-item-secondary">
                            <div class="card-body">
                                <div class="row align-items-center">
                                <div class="col-md-4">
                                    <img height="180px" [src]="contact.photo" alt="no image" class="contact-image">
                                </div>
                                <div class="col-md-7">
                                    <!-- contact details -->
                                    <ul class="list-group">
                                        <li class="list-group-item">Name: <b>{{contact.name}}</b></li>
                                        <li class="list-group-item">Email: <b>{{contact.email}}</b></li>
                                        <li class="list-group-item">Mobile: <b>{{contact.mobile}}</b></li>
                                      
                                        
                                      </ul>
                                </div>
                                <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">

                                    <!-- view -->
                                    <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning"><i class="fa-solid fa-eye"></i>

                                        <!-- edit -->
                                    </a>
                                    <a routerLink="/contacts/edit/:contactId" class="btn btn-success mt-1"><i class="fa-solid fa-pen"></i>

                                        <!-- delete -->
                                    </a>
                                   <button class="btn btn-danger mt-1"><i class="fa-solid fa-trash"></i></button>

                                   
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
